body{
    margin: 0;
    padding: 0;  
    background-color: #555879;  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.inner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    
}

button{
    cursor: pointer;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: #D1D3D4;
}

.final-result{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reset{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #98A1BC;
    color: white;
    border: none;
    border-radius: 10px;
}

#final-message{
    color: #DED3C4;
}

.hide{
    display: none;
}
#how{
    color: #DED3C4;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
