h1{
    color: red;
    text-align: center;
}

.card{
    background-color:beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

img{
    height: 100px;
    width: 100px;
    border: 2px solid pink;
}

.buttons{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.fullcard{
    height: 100vh;
    width: 100vw;
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;

}
.fullimg{
    width: 200px;
    height: 200px;
    border: 3px solid rosybrown;
}