body{
    margin: 0px;
    padding: 0px;
    background-color: #0286df;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outter-container{
    background-color: black;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.inner-container{
    margin: 0px;
    display: flex;
}
.box{
    height: 100px;
    width: 100px;
    margin: 0.5px;
    background-color: #76d5fe;
    border-radius: 0.5rem;
    font-size: 5rem;
    
}

.x-color{
    color: #082751;
}

.o-color{
    color: #ecf9ff;
}
.hide{
    display: none;
}

#btn{
    margin-top: 30px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    opacity: 0.8;
}


button:hover{
    cursor: pointer;
    opacity: 1;
}

.message{
    font-size: 2rem;
    color: #082751;
    margin-top: 1rem;
    
}

#new_game{
    margin-top: 20px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.8;
}

