body{
    text-align: center;
}

div.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: row;
    
}

.btn{
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}

.red{
    background-color: #d95980;
}
.green{
    background-color:#63aac0 ;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white
};